import type { Meta, StoryObj } from '@storybook/web-components';
import { html } from 'lit-html';
import './<%= fileName %>.element';

const meta: Meta = {
  title: '<%= name %>',
  component: '<%= tagName %>',
};

export default meta;

type Story = StoryObj;

export const Primary: Story = {
  render: () => html` <<%= tagName %>></<%= tagName %>> `,
};
