// eslint-disable-next-line @nx/enforce-module-boundaries
import '<%= relativePath %>../ui/islands/<%= fileName %>/<%= fileName %>.umd';

describe('<%= fileName %>', () => {
  it('work', async () => {
    document.body.innerHTML = '<<%= tagName %> prop="<%= fileName %>"></<%= tagName %>>';
    expect(document.body.innerHTML).toContain('<%= fileName %> works');
  });
});
