{
  "extends": "<%= relativePath %>tsconfig.base.json",
  "include": ["src/**/*.tsx", "src/**/*.ts"],
  "exclude": ["src/**/*.spec.*", "src/**/*.test.*", "src/**/*.stories.*"],
  "references": [
    {
      "path": "./tsconfig.island.json"
    },
    {
      "path": "./tsconfig.spec.json"
    }
  ]
}
